<html>
	<head>
		{% block head %}
		<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
		{% block robots_meta %}
		<meta name="robots" content="noodp,noydir" />
		{% endblock %}
		{% endblock %}
	</head>
	<body>
		{% block body %}
		<a href="https://github.com/mysteryjeans/doorsale"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://camo.githubusercontent.com/121cd7cbdc3e4855075ea8b558508b91ac463ac2/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f6c6566745f677265656e5f3030373230302e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_left_green_007200.png"></a>
		{% endblock %}
		<!-- Histats.com  START (hidden counter)-->
		<script type="text/javascript">
			document.write(unescape("%3Cscript src=%27http://s10.histats.com/js15.js%27 type=%27text/javascript%27%3E%3C/script%3E"));
		</script>
		<a href="http://www.histats.com" target="_blank" title="free web hit counter" >
			<script  type="text/javascript" >
				try {
					Histats.start(1,2732216,4,0,0,0,"");
					Histats.track_hits();
				}
				catch(err){};
			</script>
		</a>
		<noscript>
			<a href="http://www.histats.com" target="_blank">
				<img  src="http://sstatic1.histats.com/0.gif?2732216&101" alt="free web hit counter" border="0">
			</a>
		</noscript>
		<!-- Histats.com  END  -->
	</body>
</html>